{{!-- {{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  Usuari donat de baixa
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if alert2}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  El coeficient total no és igual a 1. Revisa els coeficients de tots els usuaris
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}} --}}
<div class="row">
  <div class="col-12">
    <h4 style="text-align:center ;color:rgb(9, 120, 231);padding-top: 3%;">GESTIONA LA COMUNITAT</h4>
  </div>
  <div class="d-grid gap-4 col-7 mx-auto" style="text-align:center ;color:rgb(9, 120, 231);padding-top: 1%;">
    <a style="font-size: 150%;" type="link" role="button" class="btn btn-outline-primary" href="/comunitat/config">Configuració</a>
    <a style="font-size: 150%;" type="button" role="button" class="btn btn-outline-primary">Descàrregues</a>
    <a style="font-size: 150%;" type="button" role="button" class="btn btn-outline-primary">Instruccions</a>
  </div>
</div>