<div class="row">
  <div class="col-12">
    <h4 style="text-align:center ;color:rgb(9, 120, 231);padding-top: 3%;">GESTIONA LA COMUNITAT</h4>
  </div>
  <div class="d-grid gap-4 col-7 mx-auto" style="text-align:center ;color:rgb(9, 120, 231);padding-top: 1%;">
    <a style="font-size: 150%;" type="link" role="button" href="/comunitat/crear_bd" class="btn btn-outline-primary">Crear Base de Dades</a>
    </div>
</div>
{{#if result1}}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      {{result1}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}
{{#if result2}}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      {{result2}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{/if}}