<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/usuaris">Usuaris</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edita Usuari</li>
  </ol>
</nav>

{{#each rows}}
<form id="dadesUsuari" name="dadesUsuari" class="row g-1 needs-validation" method="POST" onsubmit="return validate()" action="/usuaris/edituser/{{this.idUsuari}}/{{this.idComunitat}}" novalidate> 
  {{> user-form}}
</form>
{{/each}}