<div class="col-12" id="logo" name="logo2">
	<h4 style="color:rgb(9, 120, 231);padding-top: 0%; text-align:center">
		<img src="imatges/prosum.png" width="130" height="100" alt="Prosum" style="padding-right: 2%" ; />BENVINGUTS A
		BENVINGUT A LA COMUNITAT ENERGÈTICA
	</h4>
</div>
<div class="row">
<div class="login" style="padding-top: 0%; margin-top: 0%">
	<h1>Entrada al sistema</h1>
	<form action="/auth" method="post">
		<label for="username">
			<!-- font awesome icon -->
			<i class="fas fa-user"></i>
		</label>
		<input type="text" name="username" placeholder="Usuari" id="username" required>
		<label for="password">
			<i class="fas fa-lock"></i>
		</label>
		<input type="password" name="password" placeholder="Clau d'accés" id="password" required>
		<input type="submit" value="Login">
	</form>
</div>
</div>

<script>
	//var x = document.getElementById("logo");
	var x = document.getElementByName("menu");
	x.style.display = "none";
	//menu.style.display = 'none';
</script>