<div class="row">
  <div class="col-5">
   <img src="prosum.png" alt="Comunitat"><h4 style="color:rgb(9, 120, 231);padding-top: 3%;">BENVINGUT A LA COMUNITAT DE CORNELLA DE TERRI</h4>
  </div>  
  </tbody>
</table>
